.item {
  display: block;
  margin-left: 20px;
  padding: 3px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #0910d5;

  &:active {
    font-weight: 700;
  }

  &:first-child {
    margin-top: 10px;
  }
}

.gallery_item {
  &:not(:last-child) {
    padding: 5px;
  }
}
