.item {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  padding: 3px;

  &:active {
    font-weight: 700;
  }
}

.gallery_item {
  &:not(:last-child) {
    padding: 5px;
  }
}
